@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.introDiv{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.introHeader{
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: darkblue;
}

.introDescription{
    width: 90%;
    text-indent: 1rem;
    font-weight: 600;
    font-size: .8rem;
    line-height: 1.25rem;
}
